* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 3.5em;
    paint-order: stroke fill;
    color: #ffcb05;
    -webkit-text-stroke: 2px #2a75bb;
    text-shadow: -2px 0 #2a75bb, 0 2px #2a75bb, 2px 0 #2a75bb, 0 -2px #2a75bb;
    padding: 15px;
    text-align: center;
}
nav {
    width: 100vw;
    box-shadow: 6px 0px 10px grey;
    background-color: #f5f5f5;
}

li {
    list-style: none;
}


