* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./img/background.png") repeat ;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 3.5em;
    paint-order: stroke fill;
    color: #ffcb05;
    -webkit-text-stroke: 2px #2a75bb;
    text-shadow: -2px 0 #2a75bb, 0 2px #2a75bb, 2px 0 #2a75bb, 0 -2px #2a75bb;
    padding: 15px;
    text-align: center;
}
nav {
    width: 100%;
    box-shadow: 6px 0px 10px grey;
    background-color: #f5f5f5;
    margin-bottom: 75px;
}

#the-list {
    display: flex;
    width: 80vw;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

li {
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 8px;
    background-image: url("./img/card-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    box-shadow: 3px 3px 8px grey;
}

li h2 {
    font-family: "Flexo-Demi", sans-serif;
    background-color: #083185de;
    color: #f5f5f5;
    width: 100%;
    border-radius: 8px 8px 0 0;
    line-height: 2em;
    padding-left: 15px;
}

li img {
    max-height: 150px;
    max-width: 85%;
    background-color: #ffffffed;
    padding: 10px;
    border-radius: 20px;
    border-width: 0;
}

.li-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


